# compiled output
/node_modules
/local.properties
**/build
/.hvigor
/entry/.preview
.cxx
/*-signing.properties

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.gradle

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json